*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: monospace  
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.left-nav{
    width: 25%;
    height:100vh;
    background-color: rgb(86, 61, 61);
    display: flex;
    justify-content: space-evenly;
    gap:2rem;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
}
.profile .img-fluid{
    width: 12rem;
    border-radius: 50%;
}
.left-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.left-list-2{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.left-list a{
    /* background-color: yellow ; */
    color:whitesmoke;
    text-decoration: none;
    font-size: 1.8rem;
}